:root {
    --main-color: #393939; 
    --second-color: #FF5A09;
    --third-color: #ec7f37;
    --fourth-color: #be4f0c;
  }

.pageholder{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.pdfviewer{
    flex-grow : 1;
}

.headshot{
    border-radius: 50%;
    margin: 10px auto 0px auto;
    width: 25%;
    border: 3px solid var(--second-color);
    padding: 0px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--main-color) ;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--third-color) ;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--second-color); 
    color: white;
  }